// COLORS
$color-105: #105caa;
$color-0c5: #0c549f;
$color-157: #1578dd;
$color-border: #276cb2;
$white:#fff;
// Container
$width-container: 1200px;
$p-container: 30px;

// FONTS
$font-roboto:'Roboto', sans-serif;
$font-poppins:'Poppins', sans-serif;
